//   font-family: 'Alata', sans-serif;
//   font-family: 'Josefin Sans', sans-serif;

  $white: hsl(0, 0%, 100%);
  $black: hsl(0, 0%, 0%);
  $grey: hsl(0, 0%, 55%);
  $darkgrey: hsl(0, 0%, 41%);


*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    max-width:1150px;
    margin:0 auto;
    padding: 0 .5rem;
}

a{
    text-decoration: none;
    color:inherit;
}

ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
.wrapper{
    background:url('../img/image-hero.jpg');

    color:$white;
}
.header{
    padding-top: 50px;

    &__burger{
        background:none;
        border:1px solid red;

        position:relative;
        display:block;
            width:30px;
            height:30px;

           

            span{
                display:block;

                width:30px;
                height:5px;

                position:absolute;

                top:50%;
                left:0;
                right:0;

                font-size:0;

                background-color:$white;

                &:before{
                    content:'';
                    display:block;

                    width:30px;
                    height:5px;
    
                    position:absolute;
    
                    top:0;
                    left:0;
                    right:0;
    
                    font-size:0;
    
                    background-color:$white;

                }
            }
        
    }
    
    &__content{
        display:flex;
        justify-content:space-between;
        align-items: center;
    }


    &__link{
      position:relative;
      font-weight:700;
        &:hover:after{
            width:70%;
            transition: .2s linear;
            margin:0 auto;
            
        }
        &:after{
            content:'';
            display:block;
            width:0;
            
            position:absolute;
            right:0;
            left:0;
            margin:auto;
            bottom:-15px;
            height:3px;
            
    
    
            background-color:$white;
        }
    }

    &__logo{
        font-size:36px;
        font-weight: 700;
    }

    &__list{
        display:flex;
        flex-wrap: wrap;
    }

    &__item:not(:last-child){
        margin-right:3.5rem;
}

}


.main{
    padding:150px 0;

    &__content{
        border:3px solid $white;
        display:inline-block;
        padding:20px 30px;
        font-family: 'Josefin Sans', sans-serif;
        
        span{
            font-size:50px;
            letter-spacing: 10px;
        }
        
    }
}

.description{
   background-color:$white;
   font-family: 'Josefin Sans', sans-serif;
   padding: 200px 0;
    &__image{
        
        position:relative;
       
    }

    &__text{
        background-color:$white;
       
        padding:80px 60px 5px;
        display:inline-block;
        
        position:absolute;
        bottom:0;
        right:0;
    }

    &__title{
        font-weight: 500;
        font-size:50px;
        margin-bottom: 30px;
    }

    &__subtitle{
        color:$grey;
        line-height:30px;
        font-weight: 700;
    }
    
}


.creations{

    padding: 0 0 100px;
    &__header{
        display:flex;
       
        justify-content: space-between;
        align-items:center;

        margin-bottom: 70px;
    }

    &__content{
        display:flex;
        flex-wrap:wrap;
    }

   &__block{
    position:relative;
    margin: 0 30px 20px 0;

    width:23%;

    cursor: pointer;

  
        &:nth-child(4n){
        margin-right:0;
        }

        &:hover{
            
            img{
                opacity:0.5;
                transition: .3s linear;
            }
            .creations__text{
                color:$black;
            }
           
        }
   }

  
    
    &__title{
        font-size:40px;
    }

    &__text{
        text-transform: uppercase;
        font-size:30px;

        position:absolute;
        bottom:40px;
        left: 5%;
        

        color:$white;
        transition: .3s linear;
    }

    &__link{
        padding:15px 30px;
        background-color:$black;
        color:$white;
        border-radius: 3px;
        font-size:14px;

        letter-spacing: 5px;
        transition: .2s linear;

        &:hover{
            background-color:$grey;
        }
    }
}

.footer{
    background-color:$black;
    color:$white;
    padding:50px 0;

    &__left{
        display:flex;
        flex-direction: column;
    }

    &__right{
        display:flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__content{
        display:flex;
        justify-content: space-between;
        align-items:center;
    }

    &__logo{
        font-size:36px;
        font-weight: 700;
        margin-bottom: 30px;
       
    }
   
    .icon{
        margin:0 .5rem;
        position:relative;

        &:hover:after{
            width:100%;
            transition: .2s linear;
            margin:0 auto;
            
        }
        &:after{
            content:'';
            display:block;
            width:0;
            
            position:absolute;
            right:0;
            left:0;
            margin:auto;
            bottom:-15px;
            height:3px;
            
    
    
            background-color:$white;
        }
    }

    &__text{
        color:$grey;
    }
    &__icons{
        display:flex;
        margin-bottom: 30px;
    }
}


@media(max-width: 1250px) {
    .description{
        &__title{
            font-size:40px;
        }

        &__content{
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
        }

        &__text{
            padding:60px 30px 5px;
            position: static;
        }
    }

    .creations{

        &__content{
            justify-content: center;
        }

        &__block{
            margin: 0 15px 5px 0;
            width:auto;

            &:nth-child(4n){
                margin-right:15px;
            }
        }
        
    }
}

@media(max-width: 730px) {
    .header__list{
        display:none;
    }
}